*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

  /*generali*/

  a{
    text-decoration: none;
    color:#76787d;
  }

  article{
    width: calc((100% / 6) - 1rem);
    margin-right:1rem;
    text-align: center;
  }

  article p,article h3{
    margin-top: 1rem;
  }

  article img{
    width: 100%;
 }

  .display-flex{
    display: flex;
  }


  /*generali*/

  /*body*/
body{
    position: relative;
}

  /*body*/
  /*header*/


 header{
    width: 15%;
    height: 90vh;
    padding: 1rem;
    background-color: #080b12;
}




.logo-small{
    display: none;
}

.logo{
    margin-bottom: 2rem;
    width: 70%;
}

  /*nav header*/
  nav{
    color: #76787d;
    font-weight: bold;
    
  }
  nav h3{
    color: white;
    text-transform:uppercase ;
}


   nav>img{
    display: none;
   }

   header nav ul{
    list-style:none;
   }

   header nav ul li{
    margin-top: 1rem;
   }


   .home,
   .cerca,
   .libreria{
    color: #76787d; ;
    font-weight: bold;
    margin-bottom: 1.5rem;
   }
   
   header nav div>img {
    width: 15%;
   }

   header nav  a{
      align-self: center;
      margin-left: .5rem;
   }
   

   .fa-square-plus{
    color: #76787d;
    font-size:3rem;

  }

  .crea-playlist{
    align-self: center;
    margin-left:1rem ;
  }


  /*nav header*/

  /*installa*/

  .installa{
    position: relative;
  }

  .container-profilo{
    width: calc(200px - 2rem);
    position: fixed;
    bottom: 12vh;

  }

  .download{
    margin-bottom: 1rem;
  }

  .download img{
    width: 13%;
    margin-right: 1rem;

  }

  .conteiner hr{
    width: 100%;
  }

  .profilo img{
    width: 24px;
    padding-left: 3px;
    z-index: 4;
  }
  
  .profilo{
     margin-top: 1rem;
     color: white;
  }
  .profilo-img{
    width: 27px;
    height: 27px;
    background-color: #76787d;
    border-radius: 50%;
    margin-right: 1rem;
    z-index: 3;
  }

  /*header*/

  /*main*/

  main{
   width:85%;
   height: 90vh;
   background-color: #141922;
   padding-top: 80px;
   padding-bottom: 100px;
   overflow-y: scroll;

  }

  /*upgrade*/

 .upgrade{
    width:85%;
    height: 80px;
    background-color:rgb(8,11,18,0.5);
    position: fixed;
    top: 0;
    right: 0;
}

.upgrade button{
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  width: 240px;
  height: 45px;
  border-color: white;
  border-radius: 20px;
}

  /*upgrade*/

  /*nav-main*/

  main nav ul{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    list-style:none;
    margin-top: 2rem;
    
}

main nav ul li{
    margin-left: 3rem;
    text-transform:uppercase ;
}

  /*recenti*/
 .recenti{
    margin:2rem 1rem 5rem 2rem;
    color: white;
 }
 .recenti h2{
    font-size: 2rem;
    margin-bottom:3rem ;
 }
 .recenti p{
    color: #76787d;
 }

 .recenti h3{
   
 }

  /*recenti*/

  /*per te*/

  .per-te{
    margin:2rem 1rem 5rem 2rem;
    color: white;
  }

  .per-te h2{
    font-size: 2rem;
    margin-bottom:1rem ;
 }
 .per-te p {
    margin-bottom: 3rem;
    color: #76787d;
 }
 

  /*per te*/

  /*popolari*/

  .popolari{
    margin:2rem 1rem 0rem 2rem;
    color: white;
  }

  .popolari h2{
        font-size: 2rem;
        margin-bottom:1rem ;
  }

  .popolari p {
    margin-bottom: 3rem;
    color: #76787d;
 }

 .popolari img{
    border-radius: 50%;
 }


  /*popolari*/


 /*main*/

 /*footer*/


footer{
    width: 100vw;
    height:10vh;
    background-color: #282828;
}

  /*footer*/

 /*footer*/


/*media query*/

@media screen and (max-widht:1199px) {

    
}