*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

  /*generali*/

  .padding-left{}

  a{
    text-decoration: none;
    color:#76787d;
  }

  article{
    width: calc((100% / 6) - 1rem);
    margin-right:1rem;
    text-align: center;
  }

  article p,article h3{
    margin-top: 1rem;
  }

  article img{
    width: 100%;
 }

  .display-flex{
    display: flex;
  }

  ul li {
    list-style: none;
  }
  
  .margin-left{
    margin-left: 1rem;
  }

  /*generali*/

  /*hover*/

  /*hover*/

  /*body*/
body{
    position: relative;
}

  /*body*/
  /*header*/


 header{
    width: 15%;
    height: 90vh;
    background-color: #080b12;
  }

.logo-small{
    display: none;
  }

.logo{
    margin-bottom: 2rem;
    width: 70%;
  }

  /*nav header*/
  nav{
    color: #76787d;
    font-weight: bold;
    
  }
  nav h3{
    color: white;
    text-transform:uppercase ;
  }


   nav>img{
    display: none;
   }

   header nav ul{
    list-style:none;
   }

   header nav ul li{
    margin-top: 1rem;
   }

   .home hr{
    background-color:#adff2f ;
    width: 3px;
    height: 40px;
    padding:0;
  
   }


   .home,
   .cerca,
   .libreria{
    color: #76787d; ;
    font-weight: bold;
    margin-bottom: 1.5rem;
   }
   
   header nav div>img {
    width: 15%;
   }

   header nav  a{
      align-self: center;
      margin-left: .5rem;
   }
   

   .fa-square-plus{
    color: #76787d;
    font-size:3rem;

  }

  .crea-playlist{
    align-self: center;
    margin-left:1rem ;
  }


  /*nav header*/

  /*installa*/

  .installa{
    position: relative;
  }

  .container-profilo{
    width: calc(200px - 2rem);
    position: fixed;
    bottom: 12vh;

  }

  .download{
    margin-bottom: 1rem;
  }

  .download img{
    width: 13%;
    margin-right: 1rem;

  }

  .container hr{
    width: 100%;
  }

  .profilo img{
    width: 24px;
    padding-left: 3px;
    z-index: 4;
  }
  
  .profilo{
     margin-top: 1rem;
     color: white;
  }
  .profilo-img{
    width: 27px;
    height: 27px;
    background-color: #76787d;
    border-radius: 50%;
    margin-right: 1rem;
    z-index: 3;
  }

  /*header*/

  /*main*/

  main{
   width:85%;
   height: 90vh;
   background-color: #141922;
   padding-top: 80px;
   padding-bottom: 100px;
   overflow-y: scroll;

  }

  /*upgrade*/

 .upgrade{
    width:85%;
    height: 80px;
    background-color:rgb(8,11,18,0.5);
    position: fixed;
    top: 0;
    right: 0;
  }

.upgrade button{
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  width: 240px;
  height: 45px;
  border-color: white;
  border-radius: 20px;
}


  /*upgrade*/

  /*nav-main*/

  main nav ul{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    list-style:none;
    margin-top: 2rem;
    
  }

main nav ul li{
    margin-left: 3rem;
    text-transform:uppercase ;
  }

main nav hr{
  background-color:#adff2f ;
  width: 50px;
  height: 4px;
  margin: 0 auto;
  margin-top: .5rem;
  border-radius: 20px;
 }

  /*recenti*/
 .recenti{
    margin:2rem 1rem 5rem 2rem;
    color: white;
 }
 .recenti h2{
    font-size: 2rem;
    margin-bottom:3rem ;
 }
 .recenti p{
    color: #76787d;
 }


  /*recenti*/

  /*per te*/

  .per-te{
    margin:2rem 1rem 5rem 2rem;
    color: white;
  }

  .per-te h2{
    font-size: 2rem;
    margin-bottom:1rem ;
 }
 .per-te p {
    margin-bottom: 3rem;
    color: #76787d;
 }
 

  /*per te*/

  /*popolari*/

  .popolari{
    margin:2rem 1rem 0rem 2rem;
    color: white;
  }

  .popolari h2{
        font-size: 2rem;
        margin-bottom:1rem ;
  }

  .popolari p {
    margin-bottom: 3rem;
    color: #76787d;
 }

 .popolari img{
    border-radius: 50%;
 }


  /*popolari*/

  /*hover main*/
  
  .hover-img{
    position: relative;
  }

  .hover-img i{
    display: none;
  }

  .hover-img:hover i{
    font-size: 3rem;
    color: white;
    position: absolute;
    display: block;
    top: 50%;
   left: 50%;
   margin-left: -1.5rem;
   margin-top: -1.5rem;
  }

  .hover-img:hover img{
    filter: grayscale(.5);
  }

  .upgrade button:hover{
    width: 280px;
    height: 55px;
  }
  
  main li a:hover{
    color: white;
  }
  
  /*hover main*/


 /*main*/

 /*footer*/


footer{
    width: 100vw;
    height:10vh;
    background-color: #282828;
    justify-content: space-between;
    align-items: center;
  

  }

/*canzone-in-riproduzione*/
.canzone-in-riproduzione{
  width: 15%;
  align-items: center;
}
.container-riproduzione{
  margin-left: 1rem;
}
.container-riproduzione p{
  color: #76787d;
  font-size: .6rem;
  font-weight: bold;
}

.container-riproduzione h5{
  color:white;
}
.container-album{
  margin-left: 1rem;
  align-self: center;
}

.container-riproduzione img{
  width: 60px;
 
}
.container-font{
  color: #76787d;
  font-size: 1.5rem;
  margin-left: 2rem;
}
.fa-heart{
  margin-right: 1rem;
}
.container-font{
  margin-left: 4rem;
  align-self: center;
}

 /*canzone-in-riproduzione*/

 /*riproduttore*/

.riproduttore{
  width: 70%;
  flex-direction: column;
  align-items: center;
}


 ul i{
  color: white;
  font-size: 1.4rem;
  margin-right: 2rem;
  margin-top: .3rem;
 }

 .fa-circle-play{
  font-size: 2rem;
  margin-top: 0rem;
 }

 .barra-riproduttore{
  width: 50%;
 }

 .barra-riproduttore p{
  margin-right: 1rem;
  margin-top: 1rem;
 }

 .barra-musica{
  width:100%;
  height: 5px;
  margin-top:calc(1rem + 7px);
  background-color: #76787d;
  border-radius: 20px;
  margin-right: 1rem;
 }

 .secondi-canzone{
  width:20%;
  height: 5px;
  background-color: white;
  border-radius: 20px;
 }

 /*riproduttore*/

 /*volume*/
 .volume-controllo{
  width: 15%;
  margin-right: 1rem;
 }
 .volume-controllo i{
  font-size: .8rem;
 }

 .volume{
  width: 50%;
 }
 
 .barra-volume{
  width: 100%;
  height: 5px;
  align-self: center;
  margin-top: .4rem;
  background-color: #76787d;
  border-radius: 20px;
 }

 .volume-in-ascolto{
  width:20% ;
  height: 5px;
  align-self: center;
  margin-top: .4rem;
  background-color:white;
  border-radius: 20px;
 }

 /*volume*/

 /*footer*/


 /*media query*/

@media screen and (max-widht:1199px) {

    
}